<div id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_general">
        <div id="ComponentFeedback"/>
    </div>
    <div id="ComponentContent" class="component-content" style="display:none">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div id="eXcD3"/>
                    <div class="form-group">
                            <label for="2DRVm_FormControlInput">Email Address</label>
                            <input id="2DRVm_FormControlInput" type="email" class="form-control" placeholder="name@example.com"/>
                        </div>
                    <button type="button" id="WxQ2L_btn" class="btn btn-primary">Primary</button>
                </div>
            </div>
        </div>
    </div>
</div>